.claro{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-left: 50px;
    border: 2px solid black;
    color: black;
    background-color: white;
    width: 100px;
    height: 100px;
}
.oscuro{
    display: flex;
    justify-content: center;
    margin: 50px;
    border: 2px solid white;
    color: white;
    background-color: black;
    width: 100px;
    height: 100px;
}